---
// Assets
import { Image } from "astro:assets";
import Avatar from "@/images/avatar.jpg";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard">
    <div
      class="grid grid-cols-1 gap-4 md:grid-cols-3 border-b pb-8 pt-24 border-base-200 dark:border-base-800"
    >
     
      <Image
        src="https://avatars.githubusercontent.com/u/159058655?v=4"
        alt="x8r"
        width={400}
        height={400}
        loading="eager"
        decoding="async"
        class="rounded-2xl size-24 object-cover ovjet-center"
      />
      <div class="lg:col-span-2">
        <Text
          tag="h1"
          variant="textXL"
          class="font-medium text-base-900 dark:text-white"
          >x8r (xor)</Text
        >
        <Text
          tag="p"
          variant="textXS"
          class="text-base-600 dark:text-base-600 dark:text-base-400"
          >Front End Developer</Text
        >
        <Text
          tag="p"
          variant="textSM"
          class="text-base-600 dark:text-base-600 dark:text-base-400 mt-4"
        >
          "If she leaves you for another, there is always her mother!"
          <br><br>
          <span class="italic">- SyntaxError, 2025</span>
        </Text>
      </div>
    </div>
  </Wrapper>
</section>
