---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Data
const data = [
  {
    period: "2023",
    title: "The Evolution of Swiss Typography",
    description: `Delivered a keynote on how Swiss typography principles have influenced modern digital design. Highlighted the role of grid systems and minimalism.`,
    location: "International Design Conference, Zurich, Switzerland",
  },
  {
    period: "2022",
    title: "Mastering Grid Systems",
    description: `Conducted a workshop on creating effective grid systems for print and digital media, emphasizing the precision and balance of Swiss design.`,
    location: "Design Week, Basel, Switzerland",
  },
  {
    period: "2021",
    title: "The Future of Minimalist Design",
    description: `Participated in a panel discussion about the enduring appeal of minimalist design and its potential applications in emerging technologies.`,
    location: "European Design Symposium, Geneva, Switzerland",
  },
];
---

<section>
  <Wrapper variant="standard">
    <div
      class="grid grid-cols-1 gap-4 md:grid-cols-3 border-b py-8 border-base-200 dark:border-base-800"
    >
      <div class="lg:sticky lg:top-24 lg:z-40 self-start">
        <Text tag="h2" variant="textSM" class="text-base-900 dark:text-white">
          Speaking
        </Text>
      </div>
      <div class="flex flex-col gap-12 lg:col-span-2">
        {
          data.map((data) => (
            <article class="group relative grid grid-cols-1 gap-4 lg:grid-cols-3 lg:items-start ">
              <div class="lg:col-span-2">
                <Text
                  tag="h3"
                  variant="textSM"
                  class=" font-medium tracking-tight text-base-900 dark:text-white    "
                >
                  {data.title}
                </Text>
                <Text
                  tag="p"
                  variant="textXS"
                  class=" mt-1 text-base-600 dark:text-base-500      "
                >
                  {data.description}
                </Text>
              </div>
              <Text
                tag="p"
                variant="textXS"
                class="text-base-600 dark:text-base-400  lg:ml-auto"
              >
                <time datetime={data.period}> {data.period}</time>
              </Text>
            </article>
          ))
        }
      </div>
    </div>
  </Wrapper>
</section>
