@font-face {
    font-family: Inter;
    src: url('font/Inter-Regular.otf');
}

@font-face {
    font-family: Inter Bold;
    src: url('font/Inter-Bold.otf');
}

body, html {
    margin: 0;
    color: white;
    font-family: Inter;
}

#bg-img {
    background: url('https://avatars.githubusercontent.com/u/159058655');
    background-size: cover;
    background-attachment: fixed;
    filter: blur(25px) brightness(0.5);
    z-index: -1000;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    scale: 120%;
}

b {
    font-family: Inter Bold;
}

#pfp {
    border-radius: 100%;
    width: 75px;
    height: 75px;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.521));
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 0;
}


div.projects {
    overflow: auto;
    scrollbar-base-color: #3f3f3f6b;
    scrollbar-color: transparent transparent;
    background:transparent;
    border-radius: 20px;
    height: 400px;
    width: 350px;
    padding: 0px;
    filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.466));
    scroll-padding: 0;
    scrollbar-width: 0;
    box-shadow: 0 0 0 0 transparent;
}

div#o {
    background: #2e2e2e7a;
    border-radius: 20px;
    border: 2px solid transparent;
    backdrop-filter: blur(10px);
    height: 400px;
    width: 350px;
    padding: 25px;
    filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.466));
}

div#bodycont {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    padding: none;
    margin: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

div#bodycont > div#o {
    margin: 15px;
    padding: 25px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3),
  0 16px 32px rgba(0, 0, 0, 0.12);
}

#project {
    height: 41%;
    width: 86.5%;
    background: #2e2e2e7a;
    padding: 10px 25px;
    backdrop-filter: blur(10px);
    border-radius: inherit;
    margin-bottom: 10px;
    justify-content: center;
    align-self: center;
    margin-right: -25px;
    margin-left: 1px;
    margin-top: 1px;
    flex-direction: column;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3),
  0 16px 32px rgba(0, 0, 0, 0.12);
}

.container {
    display: flex;
    background: none;
    filter: drop-shadow(0 0 0 transparent);
    padding: 0;
    height: fit-content;
    margin: 0;
}

.vflex {
    display: flex;
    flex-direction: column;
    background: none;
    justify-content: center;
    filter: drop-shadow(0 0 0 transparent);
    margin: 0;
    height: fit-content;
    scrollbar-width: thin;
}

button#see {
    background: rgba(255, 255, 255, 0.233);
    color: rgb(255, 255, 255);
    font-family: Inter Bold;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: 500;
    border: none;
    width: fit-content;
    margin: 5px;
    margin-left: 0;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.411),
  0 16px 32px rgba(0, 0, 0, 0.12), 0 0 10px rgba(255, 255, 255, 0.2);
    font-size: 16px;
    filter: brightness(1);
    cursor: pointer;
    transition: 0.3s all;
}

button#see > * {
    color: white;
}

button#see:hover {
    filter: brightness(0.8);
    scale: 1.0;
}

button#source {
    background: #2d2d2d56;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3),
  0 16px 32px rgba(0, 0, 0, 0.12);
    color: white;
    font-family: Inter;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: 500;
    border: none;
    width: fit-content;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    transition: 0.3s all;
}

button i {
    margin-right: 8px;
    font-weight: 200;
    scale: 1.0;
}

button#source:hover {
    filter: brightness(0.8);
    scale: 1.0;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

h1, h2, h3 {
    font-family: Inter Bold;
    margin-bottom: 0;
}

#gradient {
  font-weight: bold;
  background: linear-gradient(140deg, dodgerblue, skyblue, rgb(0, 153, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0 0 5px rgba(30, 143, 255, 0.2),
               0 0 10px rgba(255, 255, 255, 0.2),
               0 0 15px rgba(0, 153, 255, 0.2);
}

p {
    color: lightgray;
}

#skills {
    list-style: none;
    padding-left: 0;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    transform: translateY(-10px);
}

#skills i {
    height: 40px;
    border-radius: 0px;
    text-align: left;
    font-size: 40px;
    margin-right: 8px;
    margin-bottom: 8px;
    transition: 0.2s all;
}

#skills i:hover {
    scale: 1.1;
}