---
// Fundation
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<BaseLayout>
  <section>
    <Wrapper variant="standard">
      <div
        class="grid grid-cols-1 gap-4 md:grid-cols-3 border-b py-8 py-24 border-base-200 dark:border-base-800"
      >
        <div>
          <Text
            tag="h1"
            variant="textSM"
            class="font-medium text-base-900 dark:text-white"
          >
            404 — Not Found</Text
          >
          <Text
            tag="p"
            variant="textXS"
            class="text-base-600 dark:text-base-600 dark:text-base-400"
          >
            You wandered too far.
          </Text>
        </div>
        <div class="lg:col-span-2 flex flex-col">
          <Text
            tag="p"
            variant="textSM"
            class="text-base-600 dark:text-base-600 dark:text-base-400"
          >
            This page doesn’t exist, never did, or was removed while debugging
            something else. Try going back or check if you typo’d your way into
            oblivion. If you’re lost, you’re not alone.
          </Text>
          <div class="flex mt-2">
            <Button isLink={true} href="/" size="xs" variant="muted">
              Go back home
            </Button>
          </div>
        </div>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
